.links {
  display: flex;
  flex-direction: column;
}
.link {
  margin-bottom: 10px;
}
.image {
  width: 320px;
  margin-right: 20px;
}
.mainBlock {
  display: flex;
}

.goBack {
  display: block;
  text-decoration: none;
  margin: 10px 0 15px 0;
  font-weight: 500;
}
